*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav{
    height:80px;
    display: flex;
}
.nav__link{
    margin-left:16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    color:black;
    font-weight: bold;
    padding: 8px;
}
p{
    line-height: 1.5;
}
.library__logo{
    width:160px;
}
.nav__container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding:0 24px;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
}
.nav__link-primary{
    border: 2px solid purple;
    border-radius:4px;
}
.nav__link-primary:hover{
    text-decoration: none;
}
.header__description{
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgb(59, 7, 59);
    font-weight: 700;
}
h1{
    font-size: 56px;
    color:#7342d6;
    margin-bottom:24px;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom:50px;
}
.text--purple{
    color:#7342d6;
}
.header__container{
    width:100%;
    max-width: 800px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

/*HEADER*/
.header__img{
    width:500px;
    display: flex;
    margin:0 auto;
}
button{
    cursor:pointer;
}
button:active{
    transform: translateY(1px);
}
.btn{
    background-color: #7342d6;
    color:white;
    padding:12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border:none;
    width:200px;
    margin:0 auto;
}
.header__img--wrapper{
    padding:20px;
}

.highlights__container{
    padding:56px;
}
.row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
.highlight__wrapper{
    display: flex;
    justify-content: center;
    border: 2px solid purple;
}
.highlight{
    width:calc(100%/3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 1.5;
    padding: 0 24px;
}
.highlight__para{
    text-align: center;
    max-width: 280px;
}
.highlight__img{
    border:2px solid rgba(128, 0, 128, 0.473);
    color:#7342d6;
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}
.highlight__title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

/*
HIGHLIGHTS
*/